@tailwind base;
@tailwind components;
@tailwind utilities;

 @layer base {
  :root {

   /* Main background color for the overall page/app */
  --background: 0 0% 100%;
  /* Primary text color used for body text */
  --foreground:222.22 47.37% 11.18%;
  /* Background color for less prominent/disabled elements */
  --muted: 220 14.29% 95.88%;
  /* Text color for muted/disabled elements */
  --muted-foreground: 215.29 19.32% 34.51%;
  /* Background color for floating elements like dropdowns/tooltips */
  --popover: 0 6.67% 97.06%;
  /* Text color for content inside popovers */
  --popover-foreground: 222.22 47.37% 11.18%;
  /* Background color for card components */
  --card: 210 20% 98.04%;
  /* Text color for content inside cards */
  --card-foreground: 222.22 47.37% 11.18%;
  /* Color for borders and dividers */
  --border: 220 15.56% 90.89%;
  /* Color for form input borders and backgrounds */
  --input: 216 12.2% 83.92%;
  /* Main brand/action color for buttons and interactive elements */
  --primary: 331.29 100% 68.04%;
  /* Text color on primary-colored elements */
  --primary-foreground: 0 0% 100%;
  /* Less prominent action color for secondary buttons */
  --secondary: 220 13.04% 90.98%;
  /* Text color on secondary-colored elements */
  --secondary-foreground: 222.22 47.37% 11.18%;
  /* Color for highlighted or focused elements */
  --accent: 216 12.2% 83.92%;
  /* Text color on accent-colored elements */
  --accent-foreground: 222.22 47.37% 11.18%;
  /* Color for error states and delete actions */
  --destructive: 0 84.31% 60%;
  /* Text color on destructive-colored elements */
  --destructive-foreground: 0 0% 98.04%;
  /* Color for focus rings and outlines */
  --ring: 331.18 100% 80%;
  /* Border radius for rounded corners */
  --radius: 0.5rem;
  }

  .dark {
    --background: 213 30.3% 12.94%;
    --foreground: 90 40% 98.04%;
    --muted: 218.82 17.89% 18.63%;
    --muted-foreground: 0 0% 82.35%;
    --popover: 213.91 26.44% 17.06%;
    --popover-foreground: 90 40% 98.04%;
    --card: 214.29 28% 14.71%;
    --card-foreground: 90 40% 98.04%;
    --border: 213.75 13.15% 25.83%;
    --input: 213.75 9.2% 34.12%;
    --primary: 331.18 100% 55.1%;
    --primary-foreground: 0 0% 100% --secondary: 213.91 26.44% 17.06%;
    --secondary-foreground: 90 40% 98.04%;
    --accent: 220.91 39.29% 10.98%;
    --accent-foreground: 90 40% 98.04%;
    --destructive: 13.76 69.16% 44.51%;
    --destructive-foreground: 0 0% 100%;
    --ring: 331 100% 68%;
  }
} 
/* @layer base {
    :root {
      --background: 48.07 100% 67.45%;
      --foreground: 47 65% 2%;
      --muted: 79.25 0% 100%;
      --muted-foreground: 47 5% 35%;
      --popover: 52.08 0% 100%;
      --popover-foreground: 47 65% 2%;
      --card: 47 68% 97%;
      --card-foreground: 47 65% 1%;
      --border: 47 10% 93%;
      --input: 47 10% 93%;
      --primary: 106.42 22.25% 27.69%;
      --primary-foreground: 47 0% 100%;
      --secondary: 203.77 75.29% 50.19%;
      --secondary-foreground: 47 0% 100%;
      --accent: 344.15 87.61% 62.75%;
      --accent-foreground: 47 0% 100%;
      --destructive: 0 82.4% 38.8%;
      --destructive-foreground: 0 86% 97%;
      --ring: 346.42 100% 59.43%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 47 51% 4%;
      --foreground: 47 16% 99%;
      --muted: 47 22% 10%;
      --muted-foreground: 47 5% 65%;
      --popover: 47 51% 4%;
      --popover-foreground: 47 16% 99%;
      --card: 47 51% 5%;
      --card-foreground: 0 0% 100%;
      --border: 47 10% 11%;
      --input: 47 10% 11%;
      --primary: 47 100% 50%;
      --primary-foreground: 47 100% 10%;
      --secondary: 47 9% 8%;
      --secondary-foreground: 47 9% 68%;
      --accent: 47 15% 14%;
      --accent-foreground: 47 15% 74%;
      --destructive: 0 86% 47%;
      --destructive-foreground: 0 0% 100%;
      --ring: 47 100% 50%;
    }
  } */
  
@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.animate-zoom {
  animation: zoomInOut 20s ease-in-out infinite;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.animate-fade {
  animation: fadeInOut 10s ease-in-out infinite;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
body {
  font-family: var(--font-playfair), sans-serif; /* Default font for body */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-lora), serif; /* Use Lora for headings */
}

@font-face {
  font-family: "Lora";
  font-weight: 400;
  src:
    url("/fonts/Lora/Lora-Regular.woff2") format("woff2"),
    url("/fonts/Lora/Lora-Regular.woff") format("woff");
}

@font-face {
  font-family: "Lora";
  font-weight: 700;
  src:
    url("/fonts/Lora/Lora-Bold.woff2") format("woff2"),
    url("/fonts/Lora/Lora-Bold.woff") format("woff");
}

@font-face {
  font-family: "Merriweather";
  font-weight: 400;
  src:
    url("/fonts/Merriweather/Merriweather-Regular.woff2") format("woff2"),
    url("/fonts/Merriweather/Merriweather-Regular.woff") format("woff");
}

@font-face {
  font-family: "Merriweather";
  font-weight: 700;
  src:
    url("/fonts/Merriweather/Merriweather-Bold.woff2") format("woff2"),
    url("/fonts/Merriweather/Merriweather-Bold.woff") format("woff");
}








