@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
      --background: 48.31 81.94% 71.76%;
      --foreground: 47 45.22% 7.95%;
      --muted: 79.25 0% 100%;
      --muted-foreground: 47 5% 35%;
      --popover: 0 0% 92.94%;
      --popover-foreground: 47 65% 2%;
      --card: 0 0% 96.47%;
      --card-foreground: 47 65% 1%;
      --border: 47 10% 93%;
      --input: 47 10% 93%;
      --primary: 328.25 90.28% 48.43%;
      --primary-foreground: 47 0% 100%;
      --secondary: 188.44 93.2% 40.39%;
      --secondary-foreground: 47 0% 100%;
      --accent: 204.24 100% 50%;
      --accent-foreground: 47 0% 100%;
      --destructive: 0 82.4% 38.8%;
      --destructive-foreground: 0 86% 97%;
      --ring: 346.42 100% 59.43%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 47 51% 4%;
      --foreground: 47 16% 99%;
      --muted: 47 22% 10%;
      --muted-foreground: 47 5% 65%;
      --popover: 47 51% 4%;
      --popover-foreground: 47 16% 99%;
      --card: 47 51% 5%;
      --card-foreground: 0 0% 100%;
      --border: 47 10% 11%;
      --input: 47 10% 11%;
      --primary: 47 100% 50%;
      --primary-foreground: 47 100% 10%;
      --secondary: 47 9% 8%;
      --secondary-foreground: 47 9% 68%;
      --accent: 47 15% 14%;
      --accent-foreground: 47 15% 74%;
      --destructive: 0 86% 47%;
      --destructive-foreground: 0 0% 100%;
      --ring: 47 100% 50%;
    }
  }
  


@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.animate-zoom {
  animation: zoomInOut 20s ease-in-out infinite;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.animate-fade {
  animation: fadeInOut 10s ease-in-out infinite;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
body {
  font-family: var(--font-playfair), sans-serif; /* Default font for body */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-lora), serif; /* Use Lora for headings */
}


@font-face {
  font-family: "Lora";
  font-weight: 400;
  src:
    url("/fonts/Lora/Lora-Regular.woff2") format("woff2"),
    url("/fonts/Lora/Lora-Regular.woff") format("woff");
}

@font-face {
  font-family: "Lora";
  font-weight: 700;
  src:
    url("/fonts/Lora/Lora-Bold.woff2") format("woff2"),
    url("/fonts/Lora/Lora-Bold.woff") format("woff");
}

@font-face {
  font-family: "Merriweather";
  font-weight: 400;
  src:
    url("/fonts/Merriweather/Merriweather-Regular.woff2") format("woff2"),
    url("/fonts/Merriweather/Merriweather-Regular.woff") format("woff");
}

@font-face {
  font-family: "Merriweather";
  font-weight: 700;
  src:
    url("/fonts/Merriweather/Merriweather-Bold.woff2") format("woff2"),
    url("/fonts/Merriweather/Merriweather-Bold.woff") format("woff");
}








